# *Pegando dados de fundos de investimetos na CVM*

In [22]:
import pandas as pd
import requests
import zipfile
import os

pd.options.display.float_format = '{:.4f}'.format

In [23]:
ano = "2024"
mes = "12"
url = f"https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_{ano}{mes}.zip"

In [24]:
download = requests.get(url)

with open(f"inf_diario_fi_{ano}{mes}.zip", "wb") as arquivo_cvm:

    arquivo_cvm.write(download.content) 
    
arquivo_zip = zipfile.ZipFile(f"inf_diario_fi_{ano}{mes}.zip")

In [25]:
dados_fundos = pd.read_csv(arquivo_zip.open(arquivo_zip.namelist()[0]), sep = ";", encoding = "ISO-8859-1")

dados_fundos

/var/folders/sj/grpf2mg12b3813fqgkd99x3c0000gn/T/ipykernel_51776/3437944346.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  dados_fundos = pd.read_csv(arquivo_zip.open(arquivo_zip.namelist()[0]), sep = ";", encoding = "ISO-8859-1")

,TP_FUNDO_CLASSE,CNPJ_FUNDO_CLASSE,ID_SUBCLASSE,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,FI,00.017.024/0001-53,NaN,2024-12-02,1144596.9300,36.9646,1146968.3800,0.0000,0.0000,1
1,FI,00.017.024/0001-53,NaN,2024-12-03,1145081.4500,36.9773,1147362.3000,0.0000,0.0000,1
2,FI,00.017.024/0001-53,NaN,2024-12-04,1145559.1000,36.9899,1147754.1500,0.0000,0.0000,1
3,FI,00.017.024/0001-53,NaN,2024-12-05,1146035.9000,37.0023,1148138.8100,0.0000,0.0000,1
4,FI,00.017.024/0001-53,NaN,2024-12-06,1146505.4800,37.0147,1148522.5400,0.0000,0.0000,1
...,...,...,...,...,...,...,...,...,...,...
539075,CLASSES - FIF,97.929.213/0001-34,NaN,2024-12-24,87992414.5300,12.3652,87986589.3900,0.0000,0.0000,7
539076,CLASSES - FIF,97.929.213/0001-34,NaN,2024-12-26,88034580.8000,12.3710,88028123.0700,0.0000,0.0000,7
539077,CLASSES - FIF,97.929.213/0001-34,NaN,2024-12-27,87983543.9800,12.3637,87976453.4500,0.0000,0.0000,7
539078,CLASSES - FIF,97.929.213/0001-34,NaN,2024-12-30,87935376.6500,12.3569,87927653.5800,0.0000,0.0000,7
539079,CLASSES - FIF,97.929.213/0001-34,NaN,2024-12-31,87994415.1100,12.3651,87986059.7400,0.0000,0.0000,7

In [26]:
dados_cadastro = pd.read_csv("https://dados.cvm.gov.br/dados/FI/CAD/DADOS/cad_fi.csv", 
                             sep = ";", encoding = 'ISO-8859-1')

dados_cadastro = dados_cadastro[["CNPJ_FUNDO", "DENOM_SOCIAL"]]

dados_cadastro = dados_cadastro.drop_duplicates()

dados_cadastro

/var/folders/sj/grpf2mg12b3813fqgkd99x3c0000gn/T/ipykernel_51776/3548788005.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  dados_cadastro = pd.read_csv('https://dados.cvm.gov.br/dados/FI/CAD/DADOS/cad_fi.csv',

               CNPJ_FUNDO                                       DENOM_SOCIAL
0      00.000.684/0001-21  DEUTSCHE BANK FDO APLIC QUOTAS FDO INV FINANCE...
1      00.000.731/0001-37  ITAMARITI CASH FUNDO APLICACAO QUOTAS FDOS INV...
2      00.000.732/0001-81  FUNDO APLIC. QUOTAS DE F.I. SANTANDER CURTO PRAZO
3      00.000.740/0001-28  FUNDO DE APLIC EM QUOTAS DE FUNDOS DE INV BMC ...
4      00.000.749/0001-39  BALANCE FUNDO APLICACAO QUOTAS FUNDO INVESTIME...
...                   ...                                                ...
47074  11.211.805/0001-09  FUNDO DE FINANCIAMENTO DA INDUSTRIA CINEMATOGR...
47075  11.233.150/0001-61                 VIRTU - SCHURMANN CINEMA I FUNCINE
47076  11.319.123/0001-06                     FUNCINE ELO PERFORMA - FUNCINE
47077  11.870.275/0001-00                            FUNCINE RIO 1 - FUNCINE
47078  48.879.897/0001-00  FUNDO DE  FINANCIAMENTO DA INDÚSTRIA CINEMATOG...

[41358 rows x 2 columns]

In [27]:
data_inicio_mes = (dados_fundos["DT_COMPTC"].sort_values(ascending = True).unique())[-0]
data_fim_mes = (dados_fundos["DT_COMPTC"].sort_values(ascending = True).unique())[-1]
        

dados_fundos_filtrado = dados_fundos[(dados_fundos["DT_COMPTC"].isin([data_inicio_mes, data_fim_mes]))]
                           
dados_fundos_filtrado

,TP_FUNDO_CLASSE,CNPJ_FUNDO_CLASSE,ID_SUBCLASSE,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,FI,00.017.024/0001-53,NaN,2024-12-02,1144596.9300,36.9646,1146968.3800,0.0000,0.0000,1
20,FI,00.017.024/0001-53,NaN,2024-12-31,1154126.5000,37.2135,1151216.8400,0.0000,0.0000,1
21,FI,00.068.305/0001-35,NaN,2024-12-02,38228305.4000,38.4661,37975939.8300,0.0000,25053.2100,5836
41,FI,00.068.305/0001-35,NaN,2024-12-31,38050894.1400,38.7069,38043777.2900,0.0000,0.0000,5814
42,FI,00.071.477/0001-68,NaN,2024-12-02,1174825077.0500,13.6476,1174728025.5700,1629552.2300,3140508.7800,37689
...,...,...,...,...,...,...,...,...,...,...
539037,FI,97.548.167/0001-23,NaN,2024-12-31,2797024267.9600,5.8118,2662892287.0700,0.0000,0.0000,10
539038,FI,97.929.197/0001-80,NaN,2024-12-02,105238082.1100,5.7786,105283729.9800,0.0000,4170664.4700,11
539058,FI,97.929.197/0001-80,NaN,2024-12-31,97148024.2400,5.3276,97066159.2600,0.0000,0.0000,11
539059,CLASSES - FIF,97.929.213/0001-34,NaN,2024-12-02,88684756.9500,12.3892,88157363.3200,0.0000,0.0000,2
539079,CLASSES - FIF,97.929.213/0001-34,NaN,2024-12-31,87994415.1100,12.3651,87986059.7400,0.0000,0.0000,7

In [28]:
base_final = pd.merge(dados_fundos_filtrado, dados_cadastro, how = "left", left_on = "CNPJ_FUNDO_CLASSE", right_on = "CNPJ_FUNDO"
)


base_final = base_final[["CNPJ_FUNDO", "DENOM_SOCIAL", 
                         "DT_COMPTC", "VL_QUOTA", "VL_PATRIM_LIQ", "NR_COTST"]]

base_final = base_final.dropna()

base_final

,CNPJ_FUNDO,DENOM_SOCIAL,DT_COMPTC,VL_QUOTA,VL_PATRIM_LIQ,NR_COTST
0,00.017.024/0001-53,FIF - CLASSE DE INVESTIMENTO RENDA FIXA EXPO...,2024-12-02,36.9646,1146968.3800,1
1,00.017.024/0001-53,FIF - CLASSE DE INVESTIMENTO RENDA FIXA EXPO...,2024-12-31,37.2135,1151216.8400,1
2,00.068.305/0001-35,CAIXA EMPREENDER FIC DE CLASSE DE FIF RENDA FI...,2024-12-02,38.4661,37975939.8300,5836
3,00.068.305/0001-35,CAIXA EMPREENDER FIC DE CLASSE DE FIF RENDA FI...,2024-12-31,38.7069,38043777.2900,5814
4,00.071.477/0001-68,BB RENDA FIXA AUTOMÁTICO EMPRESA SIMPLES FIC D...,2024-12-02,13.6476,1174728025.5700,37689
...,...,...,...,...,...,...
51153,96.500.715/0001-82,BRADESCO FIF - CLASSE DE INVESTIMENTO RF REFER...,2024-12-31,398.5274,382543831.9200,173
51154,97.261.093/0001-40,BANRISUL PERFORMANCE FUNDO DE INVESTIMENTO FIN...,2024-12-02,13.3454,6269791.8700,499
51155,97.261.093/0001-40,BANRISUL PERFORMANCE FUNDO DE INVESTIMENTO FIN...,2024-12-31,12.8536,5818466.6900,491
51180,97.525.452/0001-29,G5 SCB II FUNDO DE INVESTIMENTO FINANCEIRO INC...,2024-12-02,2730.4829,18327367.9600,3
51181,97.525.452/0001-29,G5 SCB II FUNDO DE INVESTIMENTO FINANCEIRO INC...,2024-12-31,2632.3199,17668484.8000,3

# *Exemplo de uso*

In [29]:
base_final[base_final["DENOM_SOCIAL"].str.contains("CAIXA EMPREENDER FIC DE CLASSE DE FIF RENDA")]

,CNPJ_FUNDO,DENOM_SOCIAL,DT_COMPTC,VL_QUOTA,VL_PATRIM_LIQ,NR_COTST
2,00.068.305/0001-35,CAIXA EMPREENDER FIC DE CLASSE DE FIF RENDA FI...,2024-12-02,38.4661,37975939.8300,5836
3,00.068.305/0001-35,CAIXA EMPREENDER FIC DE CLASSE DE FIF RENDA FI...,2024-12-31,38.7069,38043777.2900,5814